body {
    background-color: black;
}

.container-fluid
{
	margin-top: 15px;
}


h1
{
    font-family: 'Montserrat', sans-serif;
    
    background: -webkit-linear-gradient(left, #00FFFF 20%, #0DFF76 90%);
    background: linear-gradient(to right, ##00FFFF 20%, #0DFF76 90%);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.text
{
    font-family: 'Raleway', sans-serif;
    color: white;
    position: relative;
    text-align:justify;
}

/* texto responsivo */
@media screen and (min-width: 801px) {
  h1 {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
}