::selection
{background: #73D1FF; color: #000;}
::-moz-selection {
    background: #73D1FF; color: #000;}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #4D4D4D;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #4D4D4D;
}

::-webkit-scrollbar-thumb
{
    background: -webkit-linear-gradient(top, #00FFFF 0%, #00FF7F 100%);
    background: linear-gradient(to bottom, ##00FFFF 0%, #00FF7F 100%);
}

@media screen and (min-width: 801px) {
    ::-webkit-scrollbar
    {
	   width: 8px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    ::-webkit-scrollbar
    {
	   width: 5px;
    }
}

body, html {
  height: 100%;
}

.parallax {

  /* Full height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax h2{

  color: #C0C0C0;
  font-size: 11px;
  position:relative;
  margin-top: 485px;
  float: right;
  margin-right: 3px;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

img{
	width:100%;
	height:auto;
}

#referenciaPNG h2{
  color: #C0C0C0;
  font-size: 11px;
  position:relative;
  margin-top: 0px;
  float: right;
  margin-right: 3px;
}